.search-container {
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  width: -webkit-fill-available;
  gap: 10px;
  padding: 1rem;
  flex-wrap: nowrap;

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 1 40%;

    .input-icon {
      position: absolute;
      left: 10px;
      width: 20px;
      height: 20px;
    }

    .search-input {
      background: transparent;
      padding: 10px 10px 10px 35px;
      flex-grow: 1;
      border: none;
      width: 100%;
      box-sizing: border-box;
      min-width: 0;

      &:focus {
        outline: none;
      }
    }
  }

  .separator {
    font-size: 2rem;
    color: var(--border-color);
    padding: 0 10px;
  }

  .search-button {
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  .search-container {
    gap: 5px;
  }

  .input-wrapper {
    flex: 1 1 35%;
  }

  .search-input {
    flex: 1 1 40%;
  }

  .search-button {
    flex: 1 1 auto;
  }
}

@media (max-width: 480px) {
  .search-container {
    flex-wrap: nowrap;
  }

  .input-wrapper {
    flex: 1 1 30%;
  }

  .search-input {
    flex: 1 1 35%;
  }

  .search-button {
    flex: 1 1 auto;
  }
}
